<h1>Stupid Coaching</h1>

<form action="/answer" method="get">
  <p>Ask your coach anything:</p>
  <div class="container">
    <input id="box" type="text" name="question" placeholder="What's your question?">
    <input id="button" type="submit" value="Ask!">
  </div>
</form>
